.customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: var(--primary-text-color);
  }
  .li-customers + .li-customers {
    margin-left: 30px;
  }
  .li-customers{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .icon-customers {
    display: flex;
    border: 1px solid#afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  .icon-customers:hover,
  .li-customers:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  .ul-customers {
    display: flex;
  }
  